/* reset */
* {margin: 0; padding: 0;}
a {text-decoration: none; color: white;}
li {list-style: none;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

/* 레이아웃 */
#wrap {width: 100%; margin: 0 auto;}
#side {float:left;  width: 20%; height: 850px; background: #253041;}
#content {float: left; width: 80%; height: 100%; background: #fff;}

/* side */

#side .logo { width: 10%; height: 10%; background: #253041;}
#side .logo img {width: 230px; padding: 50px 130px;}
#side .profile_clerfix{padding: 100px; width: 315px; height: 110px; background: #253041;}

.box{
    
    width: 100px;
    height: 100px; 
    border-radius: 70%;
    overflow: hidden;}
.profile2{ 
    width: 100%;
    height: 100%;
    object-fit: cover;}
.profile_pic{float: left; width: 35%;}
.profile_info{width: 50%; float: left; padding: 30px 10px 10px;}
.profile_info span{font-size: 20px; line-height: 3px; color: white;}
.profile_info h1{font-size: 20px; line-height: 35px; color: white;}
.ampre{font-size: 40px; color: #444; margin-bottom: 60px; margin-left: 70px;}
.ampre-2{font-size: 40px; color: #444; margin-bottom: 60px; margin-left: 40px; margin-top: 90px;}
.contbox { box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 20px 26px 0 rgba(167, 175, 183, 0.33);
}


#side .nav {width: 100%; height: 911px; background: #253041;}
#side .nav li{text-align: center;}
#side .nav li a{font-size: 30px; padding: 30px;display: block; color:#fff; background: rgba(0,0,0,0.0);}
#side .nav li a:hover {background: rgba(0,0,0,0.4);}
#side .nav li img{padding: 10px; float: right;}
#side .nav li ul.submenu {display: none; border-right: 5px solid #1abb9c; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
#side .nav li ul.submenu a{font-size: 25px;}
#side .nav li ul.submenu a:hover {background: rgba(0,0,0,0.3);}


#side .footer{width: 100%; height: 65px; background: #2A3F54;}

/* banner */
#header {float: right; width: 100%; height: 80px;  }

.card-body2 {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
    margin-left: 3.1%;
    margin-top: 1.1%;
margin-bottom: 3.1%;}
/* contents */
#contents {width: 100%;}
#contents > div { }
/* margin-left: 85px; */
#contents > div.cont1 { margin-top: -10px; width: 100%;  }
#contents > div.cont1 .cont1-1  { margin-top: 19px;float: left; }
#contents > div.cont1 .cont1-1 .cont1-2{ margin-left: 20px;  background:  rgba(1,15,21,0.3);
    /* width: 340px; height: 340px; */
    border-radius: 1em; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
#contents > div.cont3 {background: #444;}

/* botn */


